<h1>DueIt Home</h1>

<% if account_signed_in? %>
<p>
  To begin, click <%= link_to "Add New Homework", new_homework_path %> to
  remember some homework.
</p>
<% else %>
<p>To use DueIt, you must Sign In or Register an account.</p>
<% end %>
