<div id="footer">
  <div class="left">
    Copyright Lee &amp; Maxwell Iverson, 2011
  </div>
  <div class="right">
    <%= link_to "About", "/about" %>
    <%= link_to "Privacy Policy", "/privacy" %>
  </div>
  <div class="clear"></div>
</div>
